body{
	line-height: 25px;
	text-align: justify;
	word-spacing: 10px;
	background-color: #E2EDF9;
	border-style: solid ;
	background-repeat: no-repeat;
	border-top-color: yellow;
	border-bottom-color: red;
	border-left-color: black;
	border-right-color: blue;
	border-width: 5px;
	border-top-left-radius: 100px;
	border-top-right-radius: 20px;
}


h1{
	color: red;
	text-align: center;
}
p#block1{
	color: blue;
	background-color: #E2EDF9;
	font-weight: bold;
	font-style: italic;
	border: 10px dotted #FFF;
	}
p#block2{
	color: #ffaa56;
	text-decoration: underline;

}
p#block3{
		color: #1FFF00;
		font-size: 25px;
		font-family: Tahoma;
		font-weight: bold;
}
p#block4{
		color: #ffaa56;
		text-decoration: underline;
}
a{
	text-decoration: none;
}